.wrapper {
    display: flex;
    flex-direction: column; //quay các thẻ con qua chiều dọc(mặc định đang là chiều ngang)
    align-items: center;
}

.container {
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-width);
    width: var(--default-layout-width);
    display: flex;
}

.content {
    flex: 1;
}
